.carte {
    margin-top: 10%;
}

.titre {
    font-weight: bold;
}

.affiche {
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categorie {
    margin-top: 5%;
}

.bar {
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    border-radius: .25rem;
}

.progressBar {
    width: 160px;
    height: 5px;
    background: rgb(175, 175, 175);
}

.progressValue {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
}

progress::-webkit-progress-value {
    background: #0061D4;
}

.compteur {
    margin-top: 10px;
    margin-bottom: 2px;
}

.likes:hover {
    color: #0061D4;
    cursor: pointer;
}

.dislikes:hover {
    color: rgb(212, 0, 0);
    cursor: pointer;
}

